body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#commentForm {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #1d009c
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.comment {
    background-color: #f9f9f9;
    border: 1px solid #ff3895;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.comment p {
    margin: 0;
}

.comment .date {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}